@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 650px;
}

/* ===== HEADER ===== */
header {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 4.69rem;
    display: inline-flex; 
    background: #9FEFF3;
    width: 100%;
}

/* title h1 */
header h1 {
    font-weight: 200;
    margin-top: 0.94rem;
    margin-left: 0.81rem;
    color: #353434;
}

/* logo */
.logo {
    margin-top: 0.94rem;
    width: 3.75rem;
}

/* navigation */
aside {
    position: absolute;
    left: 0;
    top: 4.69rem;
}

.navigation {
    position: relative;
    height: calc(100vh - 4.69rem);
    background: #9FEFF3;
    width: 5.19rem;
    box-shadow: 10px 0 0 #FFA9A6;
    border-left: 10px solid #9FEFF3;
    overflow-x: hidden;
    justify-content: left;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0.31rem;
    padding-top: 1.25rem;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #353434;
}

.navigation ul li a .icon,
.fas.fa-bars {
    position: relative;
    min-width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    line-height: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.navigation ul li a .icon i,
.fas.fa-bars {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
    color: #353434;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 0.625rem;
    height: 3.75rem;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active {
    background: #FFA9A6;
}

.navigation ul li.active::before {
    content: '';
    position: absolute;
    top: -1.875rem;
    right: 0;
    width: 1.875rem;
    height: 1.875rem;
    background: #9FEFF3;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #FFA9A6;
}

.navigation ul li.active::after {
    content: '';
    position: absolute;
    bottom: -1.875rem;
    right: 0;
    width: 1.875rem;
    height: 1.875rem;
    background: #9FEFF3;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #FFA9A6;
}

/* ===== MAIN ===== */
.content {
    display: grid;
    place-items: center;
    margin-left: auto;
    
    width: calc(100% - 83px);
}

/* content conversion */
#convertTemperature,
#convertMeasures,
#convertTime,
#convertMoney  {
    border-radius: 5px;
    padding: 3rem;
    box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
}

#convertTime {
    display: inline;
}

#convertMoney,
#convertTemperature,
#convertMeasures {
    display: none;
}

/* title conversion */
.titleConvert {
    margin-bottom: 2rem;
}

.titleConvert h2,
.titleConvert p {
    text-align: center;
}

/* input value */
.inputValue {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: end;
}

input {
    width: 17.5rem;
    height: calc(1.5em + .75rem + 0.125rem);
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 0.5rem;
}

/* button */
#revert, 
#convert {
    width: 2.125rem;
    height: 2.125rem;
    background-color: #34999E;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* icon */
.fas.fa-undo-alt, 
.fas.fa-exchange-alt {
    color: #FFFFFF;
    font-size: 15px;
}

.fas.fa-bars {
    border-left: 10px solid #9FEFF3;
    width: 4.69rem;
    top: 0.6rem;
}

/* title result */
h4.titleResult{
    font-size: 18px;
    font-weight: 600;
}

/* card deck */
.cardDeck {
    display: flex;
    line-height: 2;
}

/* card */
.card {
    border: 1px solid #353434;
    border-radius: 3px;
    padding: 1.25rem;
    margin-top: 0.94rem;
    width: 31.25rem;
}

.card.two {
    margin-left: 1rem;
}

.card span {
    font-weight: 500;
}

/* ===== MEDIA SCREEN ===== */
@media screen and (max-width: 1400px) {
    #convertMoney,
    #convertTemperature,
    #convertMeasures,
    #convertTime {
        width: 50rem;
    }

    .inputValue {
        display: inline;
    }

    input {
        width: 43.95rem;
    }

    .value,
    .conversion,
    .result {
        margin-bottom: 1rem;
    }

    #revert, 
    #convert  {
        margin-left: auto;
        margin-right: auto;
        width: 6.125rem;
    }
    

}

@media screen and (max-width: 1100px) {
    .navigation {
        display: none;
    }

    .content {
        margin-right: auto;
        width: calc(100% + 15.625rem);
        /* ver com prof */
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 900px) {
    .cardDeck {
        display: inline;
    }

    .card.two {
        margin-left: 0;
    }

    #convertMoney, 
    #convertTemperature, 
    #convertMeasures, 
    #convertTime {
        width: 37.31rem;
    }

    input {
        width: 31.35rem;
    }

    #convert {
        margin-bottom: 0.7rem;
    }
}