/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/* variables */
:root {
    --header-height: 4.5rem;

    /* colors */
    --hue: 324;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 52% 69%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-section: hsl(0, 0%, 95%);
    --title-color: hsl(var(--hue) 0% 0%);
    --text-color: hsl(var(--hue) 0% 0%);
    --text-color-light: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
}

/* base */
html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background: var(--base-color);
    -webkit-font-smoothing: antialiased;
}

span {
    color:var(--base-color);
}

.title {
    font: 400 1.875em "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10.31rem;
}

.button {
    background-color: transparent;
    border: 0.19rem solid var(--base-color);
    color: var(--base-color);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.5rem;
    font-size: clamp(1em, 1vw, 1.875em);
    font-family: "Poppins", sans-serif;
    font-weight: 700; 
    transition: background 0.3s;
    margin-top: 1.9rem;
}

.button:hover, 
.buttonAbout:hover {
    background-color: var(--base-color);
    color: var(--text-color-light);
}

.divider-1 {
    height: 1px;
    background: linear-gradient(
        270deg, 
        hsla(var(--hue), 36%, 57%, 1),
        hsla(var(--hue), 65%, 88%, 0.34)
    );
}

.divider-2 {
    height: 1px;
    background: linear-gradient(
        270deg, 
        hsla(var(--hue), 65%, 88%, 0.34),
        hsla(var(--hue), 36%, 57%, 1)
    );
}

/* layout */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    width: 100%;
    height: 100vh;
}

.section .title {
    margin-bottom: 1rem;
}

.section header {
    margin-bottom: 4rem;
}

.section header strong {
    color: var(--base-color);
}

#header {
    margin-bottom: 2rem;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--text-color-light);
    width: 100%;
}

#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

#about .text p,
#projects .text p,
#skills .text p {
    font-family: "Poppins";
    font-size: clamp(1em, 1.25vw, 1.3em);
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

/* logo */
.logo {
    font-size: clamp(1.5em, 1.75vw, 2em);
    font-family: "Aldrich", sans-serif;
    font-weight: 500; 
    color: var(--title-color);
}

.logo span { 
    color: var(--base-color);
}

/* navegação */
nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color 0.2s;
    position: relative;
}

nav ul li a:hover {
    font-weight: 600;
}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--text-color-light);

    position: absolute;
    left: 0;
    bottom: -1.5rem;

    transition: width 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul {
    display: none;
}

/* Mostar menu */
nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: var(--base-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

nav.show .menu ul {
    display: grid;
}

nav.show ul.grid {
    gap: 4rem;
}

/* toggle menu */
.toggle {
    font-size: 2em;
    cursor: pointer;
}

.toggle.icon-menu {
    color: var(--base-color);
}

.toggle.icon-x {
    color: var(--text-color-light);
}

nav .icon-x {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    
    transition: 0.2s;
}

nav.show div.icon-x{
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}

.titleMenu {
    font: 400 1.875em "Poppins", sans-serif;
    color: var(--text-color-light);
    -webkit-font-smoothing: auto;
}

/* home */
#home {
    background-color: var(--text-color-light);
    display: inline-flex;
    align-items: center; 
    overflow: hidden;
    justify-content: center;
}

#home .image {
    position: relative;
}

#home .image::before {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img {
    position: relative;
    right: 2.93rem;
}

#home .image img, #home .image::before {
    border-radius: 0.25rem;
}

#home .text {
    margin-left: 1.5rem;
    text-align: left;
}

#home .text h1 {
    max-width: 100%;
    font-size: clamp(1.5em, 6.52vw, 2em);
    font-weight: 600; 
}

#home .text span {
    display: block;
}

#home .text p {
    max-width: 100%;
    font-size: clamp(1.125em, 1.875vw, 2.25em);
    font-weight: 300; 
}

#home .text p.desenvolvedora {
    max-width: 100%;
    font-size: clamp(0.875em, 1.56vw, 1.875em);
    font-weight: 300; 
}

.redeSocial {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: clamp(9em, 2vw, 1em);
}

.redeSocial i {
    display: inline;
    font-size: clamp(1.8em, 1.98vw, 1.875em);
    color: var(--base-color);
}

/* About */
#about {
    background: var(--base-section);
}

#about .container {
    margin: 0;
    gap: 0rem;
}

#about .image img {
    border-radius: 100%;
    width: 21.88rem;
    height: 21.88rem;
    border: 4px solid var(--base-color);
    padding: 0.94rem;
}

.image {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.text h2 {
    text-align: center;
    font-weight: 600;
    font-size: clamp(2em, 6.5vw, 2.3em);
}

.text h2 span {
    font-weight: 400;
}

.buttonAbout {
    background-color: transparent;
    border: 0.19rem solid var(--base-color);
    color: var(--base-color);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.5rem;
    font-size: clamp(1em, 1vw, 1.875em);
    font-family: "Poppins", sans-serif;
    font-weight: 700; 
    transition: background 0.3s;
}

/* Projetos */
#projects {
    background-color: var(--text-color-light);
}

#projects .text h2 {
    margin-top: 1.5rem;
}

#projects .grid {
    gap: 0rem;
}

/* Skill */
#skills {
    background: var(--base-section);
}

#skills .text h2 {
    margin-top: 1.5rem;
}

.cards.grid {
    gap: 1.5rem;
}

.card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.625rem;
    text-align: center;
    background-color: var(--text-color-light);
}

.card .title {
    font-size: clamp(1.7em, 2.5vw,3em);
    margin-bottom: 0.75rem;
    font-weight: 600;
}


/* Media Screen */
@media screen and (min-width: 800px) {
    #home .text span.nome {
        display: inline;
    }

    .botao.home {
        justify-content: left;
        margin-left: 1.5rem;
    }
}
